[zbxCredenials]
; mandatory
user = user
; optional, if omitted you will be ask for password
passwd = password
; mandatory
host = host.example.com
; mandatory
url = https://host.example.com/zabbix

[zbxOptions]
; all opions in this section are optional. Defaults:
; interval = 30[s]
; notify = True
; port = 10051
; text_mode = False
; ignore_warn = False
; icon = host[-ok.png|-err.png]
; wav = None
; wav_player = /usr/bin/mpv
; ackOnly = True
; exclTg = []
; inclTg = []

interval = 30
; notify =
notify = True
port = 10051
; text_mode = True
text_mode =
; ignore_warn =
ignore_warn = True
; icon = host.example.com
icon = icon
wav = sound
wav_player = /usr/bin/mpv
; ackOnly =
ackOnly = True

; exclTg = []
exclTg = [
    "SSL certificate",
    "Free disk space"
    ]

; inclTg = []
inclTg = [
    "SSL certificate"
    ]

